* {
    padding: 0;
    margin: 0;
}
header {
     display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;

}
head nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    opacity: .1;
}
header  h1  {
    justify-content: center;
    color: rgb(30, 125, 156);
    font-size: 50px;
    padding-top: 25px;
    padding-right: 25px;
}
header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-top: 25px;
    
    
}
header nav ul li a {
   

    color: aliceblue;
  font-size: 25px;
  list-style: none;
  padding: 20px ;
  font-size: 40px;
  font-weight: bolder;
  margin: 5px;
  color: rgb(22, 114, 145);
   border-radius: 30px;
   text-decoration: none;

  
}
header nav ul li:hover {
    background-color: rgba(218, 238, 245, 0.5);    
    border-radius: 10px;

}




body {
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  background-position: center;
    background-image: url("https://user-images.githubusercontent.com/88944710/138798465-c9bc74de-a560-4811-91b1-5d60e174e4ac.png");
}
#hero-input{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
#hero-text{
color: rgb(30, 125, 156);  
font-size: 50px;
    font-weight: bolder;
    text-align: center;
    padding: 15px;
   background-color: rgba(218, 238, 245, 0.5);    

    
}


#zip {
    display: flex;
    color: rgb(30, 125, 156);
    font-size: 50px;
    font-weight: bolder;
justify-content: center;
flex-wrap: nowrap;
background-color: rgba(218, 238, 245, 0.5);    

    
   

}
#zip-input-form{
    display: flex;
    justify-content: center;
   
}
#zip-input {
    width: 20%;
    height: 30px;
    border-radius: 10px;
    font-size: larger;
    align-items: center;
   }
   #submit-btn {
       padding: 7px 20px 7px 20px;
       background-color: rgba(30, 125, 156, .8);
       font-size: 30px;
       border-radius: 10px;
       margin-left: 10px;
   }
#zipcodelist{
    padding: 20px 40px;
    font-size: 30px;
    border-radius: 10px;
    margin-right: 10px;
}
